@model Nexus.Core.Supplier
@{

    ViewData["Title"] = "Create Supplier";
    }
    <h1>Create Supplier</h1>
    <hr />
    <div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Create" asp-controller="Suppliers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" name="Name" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="ContactPerson" class="form-label">Contact Person</label>
                <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" required>
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
    </div>

